<h1 class="git">GIT PRACTICE</h1>
<h1>OneWay Binding :</h1>
<h2>{{title}}</h2>
<br>
<br>
<hr>
<h1>Property Binding & Event Binding :</h1>
<label><a (click)="demo()">Bind Event Enable</a></label> &nbsp;&nbsp;&nbsp;
<label><a (click)="test()">Bind Event Disable</a></label><br><br>
<button [disabled]="propertybtn" type="button" >Property Binding</button>
<br>
<br>
<hr>
<h1>TwoWay Binding :</h1><!--To import FORMSMODULE in (app.module.ts)-->
<input [(ngModel)]="twowaybinding" /> <br/><br/>    
<h2> {{twowaybinding}} </h2>
<br>
<br>
<hr>
<h1>Build-in Directives</h1>
<h1>Structural Directives-ngIf :</h1>
<div *ngIf="ngifdisplay;if thenblock;else elseblock">
    <h2>i am if</h2>
  </div>
  <ng-template #elseblock>
    <h2>i am else</h2>
  </ng-template>
<br>
<br>
<hr> 
<h1>Structural Directives-ngFor :</h1>
<h1 *ngFor="let user of ngfordirectives">
    <td>{{user.name}}</td>
  </h1>
<br>
<br>
<hr> 
<h1>Structural Directives-ngSwitch :</h1>
<div [ngSwitch]="ngswitchusername">
    <h1 *ngSwitchCase="'raja'">i am raja</h1>
    <h1 *ngSwitchCase="'vijai'">i am vijay</h1>
    <h1 *ngSwitchDefault>username doesn't match</h1>
</div>
<br>
<br>
<hr>
<h1>Attribute Directives[ngClass] :</h1>
<div *ngFor="let data of attributearr">
    <input type="text" value="{{data.value}}" [ngClass]="data.value==11?'dis':'play'">
</div>
<br>
<br>
<hr>
<h1>Attribute Directives[ngStyle] :</h1>
<div *ngFor="let data of attributearr">
    <input type="text" value="{{data.value}}" [ngStyle]="{'background-color':data.value==9?'green':'blue'}">
</div>
<br>
<br>
<hr>
<h1>Build-in Pipe </h1>
<h2>Date Pipe :</h2>