<h1 class="git">GIT PRACTICE</h1>
<h1>OneWay Binding :</h1>
<h2>{{title}}</h2>
<br>
<br>
<hr>
<h1>Property Binding & Event Binding :</h1>
<label><a (click)="demo()">Bind Event Enable</a></label> &nbsp;&nbsp;&nbsp;
<label><a (click)="test()">Bind Event Disable</a></label><br><br>
<button [disabled]="propertybtn" type="button" >Property Binding</button>
<br>
<br>
<hr>
<h1>TwoWay Binding :</h1><!--To import FORMSMODULE in (app.module.ts)-->
<input [(ngModel)]="twowaybinding" /> <br/><br/>    
<h2> {{twowaybinding}} </h2>