<!--interpolation-->
<h1>{{title}}</h1>
<br>
<!--property binding-->
<label><h1>Name</h1></label>
<input [disabled]="deva"  type="text" value="Devalakshmi">
<!--Structural directives-->
<!--ngif-->
<h1>ngif-Structural directives</h1>
<div *ngIf="display;if thenblock;else elseblock">
  <h1>i am if</h1>
</div>
<ng-template #elseblock>
  <h1>i am else</h1>
</ng-template>
<hr>
<!--ngfor-->
<h1>ngfor-Structural directives</h1>
<h1 *ngFor="let user of users">
  <td>{{user.name}}</td>
</h1>
<hr>
<!--ngswitch-->
<h1>ngswitch-Structural directives-</h1>
<div [ngSwitch]="username">
<h1 *ngSwitchCase="'raja'">i am raja</h1>
<h1 *ngSwitchCase="'vijai'">i am vijay</h1>
<h1 *ngSwitchDefault>username doesn't match</h1>
</div>